<header class="containerp">
    <nav id="menu-primary" class="grid grid-flow-col">
        <div>
            <img src="/assets/icons/List.svg" alt="Icone de menu">
            <strong>Menu</strong>
        </div>
        <div>
            <img src="/assets/LOGOMYBLOG.png" alt="Logo">
        </div>
        <div>
            <strong>Buscar</strong>
            <img src="/assets/icons/MagnifyingGlass.svg" alt="Icone de busca">
        </div>
    </nav>
    <nav id="menu-secundary"  class="grid grid-flow-col">
        
        <a href="#"></a>Home</a>
            
                <% categories.forEach(category => { %>

                    
                        <a href="/category/<%= category.slug %>" ><%= category.title %></a>
                    
        
                <% }) %>
            
        
    </nav>
</header>