
<aside class="sidebar col-2">
    <h2>MyBlog</h2>
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <div class="menu-item"><a href="#" class="nav-link">Dashboard Home</a></div>
        </li>
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link">Artigos</a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
        </li>

    </ul>
</aside>
