* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --bg-color2: #1A202C;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --h1:800 24px/135% var(--font-family);
    --h2:800 16px/140% var(--font-family);
    --h3:800 14px/140% var(--font-family);
    --text-span:600 14px/145% var(--font-family);
    --text:400 16px/160% var(--font-family);
    --text-sm:400 14px/160% var(--font-family);
}


body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--text);

}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: var(--brand-color-light);
}

h1, h2, h3 {
    font: inherit;
}

.space {
    background-color: var(--bg-color2);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

label {
    display: block; 
    margin-bottom: 5px; 
    font: 400 14px/160% 'Archivo', sans-serif; 
    color: var(--text-color-secondary);
}
select {
    background-color: var(--stroke-color);
    color: var(--text-color-primary);
    border: 1px solid var(--stroke-color);
    padding: 8px 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    appearance: none; 
}

input {
    background-color: var(--stroke-color);
    color: var(--text-color-primary);
    border: 1px solid var(--stroke-color);
    padding: 8px 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  
}

.img-preview {
    width: 100%;
    object-fit: cover;
}

h1 {
    font: var(--h1);
}

.container {
    margin-top: 20px;
}