<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %>

    <div class="container">

        <form action="/users/create" method="POST">
            <br>

            <div class="card">
                <div class="card-header">
                    <h3>Cadastro de Usuários</h3>
                </div>
                <div class="card-body">
                    <label>Nome:</label>
                    <input class="form-control" type="email" name="email" placeholder="Digite seu Email" ><br>
                    <label>Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="Digite sua senha" ><br><br>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>

            
        </form>

        
    </div>

    


</body>

<%- include('../../partials/footer.ejs') %>