<%- include('../../partials/header.ejs') %>
<body>
    

    <div class="container">

        <form action="/authenticate" method="POST">
            <br>

            <div class="space">
                <div class="card-header">
                    <h3>Login Admin</h3>
                </div>
                <div class="card-body">
                    <label>Nome:</label>
                    <input  type="email" name="email" placeholder="Digite seu Email" ><br>
                    <label>Password:</label>
                    <input  type="password" name="password" placeholder="Digite sua senha" ><br><br>
                    <button type="submit" class="btn btn-primary">Logar</button>
                </div>
            </div>

            
        </form>

        
    </div>

    


</body>

<%- include('../../partials/footer.ejs') %>